
.contact_details .media .media-left {
  padding-right: 20px;
}

.contact_details .media .media-left i {
  height: 50px;
  width: 50px;
  background: #fec608;
  color: #fff;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #fec608;
  transition: all 400ms linear 0s;
}

.contact_details .media .media-body h4 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 10px;
}

.contact_details .media .media-body p {
  padding: 0px;
  font-size: 14px;
  color: #666666;
  line-height: 5px;
}

.contact_details .media:hover .media-left i {
  background: transparent;
  color: #fec608;
}
.top-buffer { 
	margin-top:3%; 

}
.left-buffer{
	margin-right: 50%;
	text-align: center;
	margin-bottom: 10%;
}

