.header_area{
/*width:100%;
margin: 0px;
padding: 0px;
height: 100px;
overflow: hidden;
z-index: 10000;
position: fixed;*/
background: #fec608;
}

/*.header_area .navbar.navbar-default {
  border: none;
  border-radius: 0px;
  background: transparent;
  margin: 0px;
}
.header_area .navbar.navbar-default .navbar-header .navbar-brand {
  padding: 0;
  display: block;
  vertical-align: middle;
  line-height: 0px;
}
.header_area .navbar.navbar-default .navbar-header .navbar-brand img {
  display: inline-block;
  width: 180px;
  height: 100px;
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li {
  margin-right: 40px;
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
  padding: 0px;
  background: transparent;
  line-height: 80px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #222222;
  display: inline-block;
  transition: all 400ms linear 0s;
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:hover a, .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li.active a {
  color: #fff;
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:last-child {
  margin-right: 0px;
}*/

/*.header_area.stricky-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
}

.header_area.stricky-fixed + section, .header_area.stricky-fixed + div, .header_area.stricky-fixed + .row {
  margin-top: 80px;
}*/
/*.navbar-toggle {
        margin-top: 23px;
        margin-bottom: 23px;
        border: 1px solid #333333 !important;
    }
    .navbar-toggle:hover {
        background: transparent !important;
    }
    .navbar-toggle span{
        background: #333333 !important;
    }
    .header_area .navbar.navbar-default .navbar-header .navbar-brand {
        line-height: 78px;
    }
    .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
        display: block;
        line-height: 45px;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:last-child a {
        border: none;
    }*/
/*header a{
text-transform: uppercase;
font-family: "Raleway", sans-serif;
text-align: center;
font-size: 14px;
font-weight: bold;
padding: 0px 12px;
word-wrap: normal;
display: inline-block;
text-decoration: none;
}
header a:visited {
  color: black;
  text-decoration: none;
}
header a:link {
  color: black;
  text-decoration: none;
}
header a:hover {
  color: white;
  text-decoration: none;
}
header .navbar-default {
	background-color: #FEC606;
	border-color:  #FEC606;
 	border-radius: 0px;
 	background: transparent;
 	margin: 0px;
}
*/
.header_area {
  background: #fec608;
}

.header_area .navbar.navbar-default {
  border: none;
  border-radius: 0px;
  background: transparent;
  margin: 0px;
}

.header_area .navbar.navbar-default .navbar-header .navbar-brand {
  padding: 0;
  display: block;
  vertical-align: middle;
  line-height: 76px;
}

.header_area .navbar.navbar-default .navbar-header .navbar-brand img {
  display: inline-block;
  width: 180px;
  height: 100px;
  margin:-1px;
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li {
  margin-right: 40px;
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
  padding: 0px;
  background: transparent;
  line-height: 80px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #222222;
  display: inline-block;
  transition: all 400ms linear 0s;
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:hover a, .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li.active a {
  color: #fff;
}

.header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:last-child {
  margin-right: 0px;
}

.header_area.stricky-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
}

.header_area.stricky-fixed + section, .header_area.stricky-fixed + div, .header_area.stricky-fixed + .row {
  margin-top: 80px;
}